<launch>
<!--param name="/use_sim_time" value="$(arg simulation)"/-->
<node name="base_laser_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.15 0 0 0 base_link scan 100"/>

<node name="camera_depth_frame_to_map_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.15 0 0 0 base_link camera_depth_frame 100"/>

<node name="camera_depth_optical_frame_to_map_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.15 0 0 0 base_link camera_depth_optical_frame 100"/>
<node name="camera_link_to_map_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.15 0 0 0 base_link camera_link 100"/>
<node name="camera_rgb_frame_to_map_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.15 0 0 0 base_link camera_rgb_frame 100"/>
<node name="camera_rgb_optical_frame_to_map_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.15 0 0 0 base_link camera_rgb_optical_frame 100"/>

  <!--we use the kinect sensor as a fake laser scanner /-->
  <include file="$(find astra_launch)/launch/dtl.launch"/>


<!--    This part of code haven't be written.
  <node name="arduino" pkg="ardros" type="arduino.py">
    <rosparam file="$(find ardros)/info/ardros.yaml" command="load" />
  </node>
/-->

</launch>
