<launch>
<include file="$(find astra_launch)/launch/astra.launch"/>


<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" args= "standalone depthimage_to_lasersacn/DepthImageToLaserScanNodelet">
<remap from="image" to="/camera/depth/image_raw"/>
<remap from="camera_info" to="/camera/depth/camera_info"/>
<remap from="astra_scan" to="/scan"/>
<!--param name="range_max" type="double" value="2"/-->
<param name="scan_height" type="double" value="1"/>
<param name="scan_time" type="double" value="30"/>
<param name="range_min" type="double" value="0.4"/>
</node>
<node pkg="move_base" type="move_base_node" name="move_base_node" output="screen"/>
<!--node pkg="odom_simulator" type="odom_publish" name="odom_publsih_node"/-->
</launch>
